<img src="{{ item.getImage() }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ item.nom }} - {{ item.prix | currency: "EUR" }}</h5>
            <p class="card-text">
              Ingrédients :
              <span *ngFor="let ing of item.ingredients; let i = index"
                >{{ ing }}{{ i === item.ingredients.length - 1 ? "." : "," }}
              </span>
            </p>
            <button class="btn btn-secondary" (click)="ajouterAuPanier(item)">
              Choisir
            </button>
          </div>
